<h2>Resend confirmation instructions</h2>

<%= simple_form_for resource, :as => resource_name, :url => confirmation_path(resource_name), :method => :post do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, :required => true %>
  <%= f.button :submit, "Resend confirmation instructions" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
