<h1><%= t('heading.confirmation_advice', :user => resource.name) %></h1>

<%= simple_form_for resource, :as => resource_name, :url => update_user_confirmation_path, :method => :put do |f| %>

  <% if @requires_password %>
    <%= f.input :password, :label => t('simple_form.labels.defaults.password') %>
    <%= f.input :password_confirmation %>
  <% end %>

  <%= hidden_field_tag :confirmation_token, @confirmation_token %>

  <%= f.submit t('helpers.submit.defaults.account_confirm')%>
<% end %>
