<%= simple_form_for [:admin, @page] do |f| %>
  <%= f.input :name %>
  <%= f.input :content, input_html: { class: 'ckeditor'} %>

  <% if current_user.admin? %>
    <%= label_tag :page_pageable_type_menu do %>
      <%= f.radio_button :pageable_type, :Menu %>
      <%= t_attr :pageable_menu, :page %>
      <%= f.association :pageable, :collection => Menu.all, :prompt => t(:parent, :scope => 'views.select_prompt'), :disabled => true, :label => false, :wrapper => false, label_method: :full_name %>
    <% end %>

    <%= label_tag :page_pageable_type_unit do %>
      <%= f.radio_button :pageable_type, :Unit %>
      <%= t_attr :pageable_unit, :page %>
      <%= f.association :pageable, :collection => Unit.all, :prompt => t(:parent, :scope => 'views.select_prompt'), :disabled => true, :label => false, :wrapper => false %>
    <% end %>

    <%= f.association :user, label: :Administrador %>
  <% end %>

  <%= f.submit %>
<% end %>
