<h1>Páginas</h1>
<% if current_user.admin? %>
  <%= link_to t_with_resource('dashboard.actions.create', :page), new_admin_page_path, class: 'btn' %>
<% end %>

<ul>
  <% @pages.each do |page| %>
    <% if can? :edit, page %>
      <li>
        <%= page.full_name %> |
        <%= link_to t('dashboard.actions.edit'), edit_admin_page_path(page) %>
        <% if can? :delete, page %>
          | <%= link_to t('dashboard.actions.destroy'), admin_page_path(page), :method => :delete %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
