<div class="row">
  <div class="page-container">
    <section class="page">

      <h2 class="page-title">
        <%= notice.title %>
        <span class="author-data">Por: <%= @notice.user.name %></span>
      </h2>

      <section class="page-content">
        <%= notice.body.html_safe %>
      </section>
    </section>
  </div>
</div>