<div class="row">
  <div class="page-container">
    <section class="page">
      <h2 class="page-title">Todas as notícias</h2>

      <ul class="link-list">
        <% @notices.each do |notice| %>
          <li><%= link_to notice.title, notice %></li>
        <% end %>
      </ul>

    </section>
  </div>
</div>

