@import 'neat_configs';
@import 'bourbon';
@import 'mixins';
@import 'neat';

ul.user_menu {
	padding-left: 2%;
	background-color: #f05648;
	color: #8A2D25;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.15);
	
	a {
		font-weight: bold;
		color: #8A2D25;		
	}

	li {
		display: inline;
	}
}

.menu {
	@include span-columns(3);

	padding: 2%;

	#menu_header {
	  font-weight: bold;
	  color: #f05648;
	}
}

#content {
	@include span-columns(9);
	@include omega();

	padding: 2%;
}