<h2><%= t('heading.sign_in') %></h2>

<%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
  <%= f.input :email, :required => false, :autofocus => true %>
  <%= f.input :password, :required => false %>
  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <%= f.button :submit, t('helpers.submit.defaults.sign_in') %>
<% end %>

<%= render :partial => "devise/shared/links" %>
