<nav id="dashboard_menu">
  <ul>
    <li id="menu_header">Menu</li>
    <% if can? :edit, User %>
      <li><%= link_to t('dashboard.menu.users'), admin_users_path %></li>
    <% end %>
    <% if can? :edit, Area %>
      <li><%= link_to t('dashboard.menu.areas'), admin_areas_path %></li>
    <% end %>
    <% if can? :edit, Menu %>
      <li><%= link_to t('dashboard.menu.menus'), admin_menus_path %></li>
    <% end %>
    <% if can? :edit, Page %>
      <li><%= link_to t('dashboard.menu.pages'), admin_pages_path %></li>
    <% end %>
    <% if can? :edit, Notice %>
      <li><%= link_to t('dashboard.menu.notices'), admin_notices_path %></li>
    <% end %>
    <% if can? :edit, Document %>
      <li><%= link_to t('dashboard.menu.documents'), admin_documents_path %></li>
    <% end %>
  </ul>
</nav>