@mixin bg-color($color) {
  background-color: $color !important;

  &:hover {
    background-color: $color * 0.9 !important;
  }
}

.light-blue {
  @include bg-color(#73b4ef);
}

.middle-blue {
  @include bg-color(#4696e0);
}

.dark-blue {
  @include bg-color(#3779b8);
}

.blue {
  @include bg-color(#4093e0);
}

.green {
  @include bg-color(#6c9b6f);
}

.red {
  @include bg-color(#ea4e40);
}

.purple {
  @include bg-color(#b987f2);
}

