@import 'bourbon';
@import 'mixins';

$margin_dropdown: 210px;

.dropdown ul {
  position: absolute;
  top: -1000px;
  width: $margin_dropdown;
}

.dropdown li:hover {
  visibility: inherit;
}

.dropdown li, .dropdown a {
  position: relative;
}

.dropdown li:hover ul, .dropdown li.sfHover ul {
  left: 0;
  top: 40px;
  z-index: 99;
}

.dropdown li:hover li ul, .dropdown li.hover li ul {
  top: -1000px;
  border-top: 0;
}

.dropdown li li:hover ul, .dropdown li li.hover ul {
  left: $margin_dropdown;
  top: 0;
}

.dropdown li li:hover li ul, .dropdown li li.hover li ul {
  top: -1000px;
}

.dropdown li li li:hover ul, .dropdown li li li.hover ul {
  left: $margin_dropdown;
  top: 0;
}

.dropdown li ul {
  @include dark-border('top');
  border-top-size: 2px;
  position: absolute;
  z-index: 10;
}

// Fallback
.js .dropdown li ul {
  display: none;
}

.dropdown ul li {
  margin: 0;
  border-bottom: 1px solid #fff;
}

.dropdown ul li a {
  background: #373737;
  border: 0 !important;
  color: #ffffff;
  display: block;
  padding: 6px 12px;
  width: $margin_dropdown;
  @include transition(background-color 150ms ease-in-out);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);

  &:hover, &.hover {
    border: 0;
    background: #222;
  }
}

.dropdown ul > li > ul {
  padding-left: 20px;
  background: url(image_path('menu-arrow.png')) no-repeat left 11px;
}
