@import 'mixins';

.horizontal-menu {
  @include dark-border('bottom');
  display: inline-block;
  float: right;
}

.horizontal-menu li {
  display: inline-block;
  margin: 0 0 13px 17px;

  &:first-child {
    margin-left: 0;
  }
}
