@import 'mixins';
@import 'bourbon';
@import 'neat-helpers';
@import 'neat';

.main-menu {
  @include span-columns(9);
  @include shift(1);
  margin-top: 62px;
}

.main-menu a {
  color: #373737;
  font-size: 20px;
  padding: 15px 0;
  text-decoration: none;

  &:hover, &.hover {
    @include dark-border('top');
  }
}

.main-menu a.active {
  border-top: 3px solid #f05648;
  color: #f05648;
}
