@import 'mixins';
@import 'bourbon';
@import 'neat-helpers';
@import 'neat';

.page-container {
  .page {

    h2 {
      font-size: 14pt;
    }
    
    .page-title {
      padding-bottom: 3px;
      border-bottom: 3px solid #F3857A;
    }

    box-shadow: 0 3px 2px -2px gray;
    border-bottom: 3px solid #e3e3e3;

    ol li, ul li {
      list-style-type: decimal;
      list-style-position: inside;
      text-indent: 1em;
    }

    p:first-of-type {
      margin-top: 0px;
    }

    p {
      margin-top: 10px;
      text-align: justify;
    }

    .page-content {
      padding: 25px 0px 25px 0px;
    }
  }


  margin-top: 20px;
  padding-bottom: 20px;
}