@import 'neat_configs';
@import 'neat';

.top-bar {
  background-color: #333333;
  border-bottom: 1px solid #222222;
  padding: 10px 0 10px 0;
  margin-bottom: 25px;
  height: 45px;
}

.top-bar .name {
  @include span-columns(8);
  color: #eeeeee;
  font-weight: normal;
  font-size: 20px;
  text-shadow: 1px 1px 1px #111111;
}
