@import 'neat_configs';
@import 'bourbon';
@import 'mixins';
@import 'neat';

.widgets {
  .widget {
    @include span-columns(4);
  }
}

.widget h1 {
  @include inverted-color;
  padding: 6px 0;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.widget h2 {
  font-weight: 600;
}

.widget a {
  color: #666666;

  &:hover {
    text-decoration: underline;
  }
}


