<section class="top-bar">
  <div class="row">
    <h1 class="name">Centro de Ciências Sociais Aplicadas | UFRN</h1>
    <nav id="social">
      <%= link_to t('social.facebook'), 'http://facebook.com/ccsa.ufrn', :class => 'facebook', :target => "_blank" %>
      <%= link_to t('social.twitter'), 'http://twitter.com/ccsaufrn', :class => 'twitter', :target => "_blank" %>
    </nav>
  </div>
</section>
