<section class="widgets">
  <div class="row">
    <%= render 'widgets/widget', notices: @thesis, category: "Teses e Dissertações" %>

    <%= render 'widgets/widget', notices: @journal, category: "Revista" %>

    <%= render 'widgets/widget', notices: @events, category: "Próximos eventos" %>
</section>