<article class="widget">
  <h1 class="inverted-color"><%= category %></h1>

  <% notices.each do |notice| %>
    <h2><%= link_to "#{notice.title}", notice %></h2>
    <p><%= truncate_html(strip_tags(notice.body), length: 120) %></p> 
  <% end %>
</article>