<div class="row">
  <div class="page-container">
    <section class="page">

      <% if page.pageable.area.default? %>
        <h2 class="page-title"><%= page.name %></h2>
      <% else %>
        <h2 class="page-title"><%= page.pageable.area.name %> > <%= page.pageable.name %> > <%= page.name %></h2>
      <% end %>

      <section class="page-content">
        <%= page.content.html_safe %>
      </section>
    </section>
  </div>
</div>