<div class="row">
  <div class="page-container">
    <section class="page">
      <h2 class="page-title">Contato</h2>

      <section class="page-content">
        <%= simple_form_for(@contact) do |f| %>
          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :message %>
          <%= f.submit %>
        <% end %>
      </section>
    </section>
  </div>
</div>

