<div class="row">
  <div class="page-container">
    <section class="page">
      <h2 class="page-title">Documentos</h2>

      <section class="page-content">
        <section class="document-tags">  
          <h3>Categorias</h3>
          <ul>
            <li><%= link_to "Todos os documentos", documents_path, class: "#{ 'current' unless params[:tag] }" %></li>
            <% @tags.each do |tag| %>
              <li><%= link_to tag.name.humanize, params.merge(tag: tag.name), class: "#{ 'current' if tag.name == params[:tag]}" %></li>
            <% end %>
          </ul>
        </section>

        <section class="documents">
          <% if @documents.each do |doc| %>
            <%= div_for doc do %>
              <div class="info">
                <h3><%= doc.name %></h3>

                <p><%= doc.description %></p>
              </div>
              
              <div class="download"><%= link_to "Baixar", doc.url %></div>
            <% end %>
          <% end.empty? %>
            <p>Nenhum documento</p>
          <% end %>
        </section>
      </section>

      <div style="clear: both"></div>
    </section>
  </div>
</div>