<div class="row">
  <div class="page-container">
    <section class="page">

      <h2 class="page-title">Album X</h2>

      <div id="gallery" class="ad-gallery">
        <div class="ad-image-wrapper">
        </div>
        <div class="ad-controls">
        </div>
        <div class="ad-nav">
          <div class="ad-thumbs">
            <ul class="ad-thumb-list">
              <li>
                <a href="http://placehold.it/600x480">
                  <img src="http://placehold.it/140x100" class="image0">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 10.jpg" alt="This is a nice, and incredibly descriptive, description of the image 10.jpg" class="image1">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 11.jpg" longdesc="http://coffeescripter.com" alt="This is a nice, and incredibly descriptive, description of the image 11.jpg" class="image2">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 12.jpg" alt="This is a nice, and incredibly descriptive, description of the image 12.jpg" class="image3">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 13.jpg" alt="This is a nice, and incredibly descriptive, description of the image 13.jpg" class="image4">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 14.jpg" alt="This is a nice, and incredibly descriptive, description of the image 14.jpg" class="image5">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480" id="t2">
                  <img src="http://placehold.it/140x100" title="A title for 2.jpg" alt="This is a nice, and incredibly descriptive, description of the image 2.jpg" class="image6">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 3.jpg" alt="This is a nice, and incredibly descriptive, description of the image 3.jpg" class="image7">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 4.jpg" alt="This is a nice, and incredibly descriptive, description of the image 4.jpg" class="image8">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 5.jpg" alt="This is a nice, and incredibly descriptive, description of the image 5.jpg" class="image9">
                </a>
              </li>
              <li>
                <a href="http://placehold.it/860x480">
                  <img src="http://placehold.it/140x100" title="A title for 6.jpg" alt="This is a nice, and incredibly descriptive, description of the image 6.jpg" class="image10">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="descriptions">

      </div>
    </section>
  </div>
</div>