<div class="row">
  <div class="page-container">
    <section class="page">

      <h2 class="page-title"><%= @album.name %> <%= @album.date %></h2>

      <p><%= @album.description %></p>

      <div id="gallery" class="ad-gallery">
        <div class="ad-image-wrapper">
        </div>
        <div class="ad-controls">
        </div>
        <div class="ad-nav">
          <div class="ad-thumbs">
            <ul class="ad-thumb-list">
              <% @album.album_medias.each do |photo| %>
                <li>
                  <a href="<%= photo.url %>" %>
                    <img src="<%= photo.photo.thumb %>" title="<%= photo.title %>"
                      alt="<%= photo.description %>" longdesc="<%= photo.url %>">
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div id="descriptions">

      </div>
    </section>
  </div>
</div>