<h1>Áreas</h1>
<%= link_to t_with_resource('dashboard.actions.create', :area), new_admin_area_path, class: 'btn' %>

<ul>
  <% @areas.each do |area| %>
  	<% if can? :edit, area %>
	    <li>
	      <%= area.name %> |
	      <%= link_to t('dashboard.actions.edit'), edit_admin_area_path(area) %>
	      <% if can? :delete, area %>
          	| <%= link_to t('dashboard.actions.destroy'), admin_area_path(area), :method => :delete %>
          <% end %>
	    </li>
	<% end %>
  <% end %>
</ul>

