<% unless @area.default? %>

  <nav class="area-menu">
    <ul class="menu">
      <% @area.menus.ascending.each do |menu| %>
        <% next if menu.parent.present? %>
        <li>
          <div class="menu_list">
            <a href="#" class="area_section menu_head" style='<%= "background: #{menu.color}" %>'>
              <%= menu.name %>
              <% unless (menu.children.empty? && menu.pages.empty?) %>
                <span class="fontawesome-caret-down pull-right"></span>
              <% end %>
            </a>

            <div class="menu_body" style="background: #F37E8E">
              <div class="menu_list">
                <% menu.pages.each do |page| %>
                  <%= link_to page.name, area_menu_page_path(@area, menu, page) %>
                <% end %>

                <% menu.children.each do |sub| %>
                  
                  <a href="#" class="menu_head">
                    <%= sub.name %> 

                    <% unless (sub.children.empty? && sub.pages.empty?) %>
                      <span class="fontawesome-caret-down pull-right"></span>
                    <% end %>
                  </a>

                  <div class="menu_body">
                    <% sub.pages.each do |page| %>
                      <%= link_to page.name, area_menu_page_path(@area, sub, page) %>
                    <% end %>

                    <% sub.children.each do |subsub| %>
                      <%= link_to subsub.name, subsub.external_link %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </nav>

<% end %>