<%= render 'area_header' %>

<div class="row">
  <div class="page-container">
    <section class="page">

      <h2 class="page-title">Sobre a área de <%= @area.name %></h2>

      <p><%= @area.description.html_safe %></p>
    </section>
  </div>
</div>