<%= simple_form_for [:admin, @document] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :document %>
  <%= f.input :tag_list, label: 'Tags' %>
 
  <%= f.submit %>
<% end %>
