<h1>Documentos</h1>
<%= link_to t_with_resource('dashboard.actions.create', :document), new_admin_document_path, class: 'btn' %>

<ul>
  <% @documents.each do |document| %>
    <% if can? :edit, document %>
      <li>
        <%= document.name %> |
        <%= link_to t('dashboard.actions.edit'), edit_admin_document_path(document) %>
        <% if can? :delete, document %>
          | <%= link_to t('dashboard.actions.destroy'), admin_document_path(document), :method => :delete %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
