<div class="row">
  <section id="links-extras">
    <div id="carousel--container">
      
      <div class="carousel">
        <%= link_to "http://www.acessoainformacao.gov.br/acessoainformacaogov/" do %>
          <%= image_tag "acesso_informacao.png" %>
        <% end %>
        <%= link_to "http://www.portaltransparencia.gov.br/" do %>
          <%= image_tag "portal_transparencia.jpg" %>
        <% end %>
        <%= link_to "http://www.ufrn.br" do %>
          <%= image_tag "ufrn.jpg" %>
        <% end %>
        <%= link_to "http://www3.transparencia.gov.br/TransparenciaPublica/" do %>
          <%= image_tag "transparencia_publica.jpg" %>
        <% end %>
        <%= link_to "http://www.ufrn.br/ufrn/conteudo/servicos/ouvidoria.php" do %>
          <%= image_tag "ouvidoria.jpg" %>
        <% end %>
        <%= link_to "http://ojs.ccsa.ufrn.br/index.php/interface" do %>
          <%= image_tag "interface.jpg" %>
        <% end %>

        <%= link_to "http://ccsa.ufrn.br/srgccsa/" do %>
          <%= image_tag "srgccsa.png" %>
        <% end %>

        <%= link_to "http://sigaa.ufrn.br" do %>
          <%= image_tag "sigaa.png" %>
        <% end %>

        <%= link_to "http://www.sigrh.ufrn.br/" do %>
          <%= image_tag "sigrh.png" %>
        <% end %>

        <%= link_to "http://www.sipac.ufrn.br/" do %>
          <%= image_tag "sipac.png" %>
        <% end %>

        <%= link_to "http://www.capes.gov.br/servicos/banco-de-teses" do %>
          <%= image_tag "tesescapes.png" %>
        <% end %>

        <%= link_to "http://www.dominiopublico.gov.br/pesquisa/PesquisaPeriodicoForm.jsp" do %>
          <%= image_tag "tesesdominio.png" %>
        <% end %>

        <%= link_to "http://bdtd.ibict.br/" do %>
          <%= image_tag "bdtd.png" %>
        <% end %>

        <%= link_to "http://lattes.cnpq.br/" do %>
          <%= image_tag "lattes.png" %>
        <% end %>

      </div>
      
      <a class="fontawesome-backward" id="carousel_prev" href="#">&nbsp;</a>
      <a class="fontawesome-forward" id="carousel_next" href="#">&nbsp;</a>
    </div>
  </section>
</div>  