<footer class="main_footer">
  <div class="row">
    <nav>
      <ul>
        <li><%= link_to "Página Inicial", root_path %></li>
        <li><%= link_to "Dashboard", user_root_path %></li>
      </ul>
      <ul>
        <li><%= link_to "Notícias", notices_path %></li>
        <li><%= link_to "Webmail", 'http://mx3.ufrn.br' %></li>
      </ul>
      <ul>
        <li><%= link_to "Documentos", documents_path %></li>
        <li><%= link_to "Contatos", '#' %></li>
      </ul>
    </nav>
    <%= link_to "CCSA", root_path, :class => 'image-replacement pb-logo' %>
    <p><strong>Design e Desenvolvimento</strong><br><%= link_to "Núcleo de Apoio ao Docente (NAD)", "#" %></p>
  </div>

  <footer>
    <div class="row">
      <p class="address"><strong>Endereço:</strong> Av. Sen. Salgado Filho, 3000, Lagoa Nova, Natal/RN, Brasil, CEP 59072-970</p>
      <p class="phone"><strong>Secretaria do CCSA:</strong> +55 84 3215-3466</p>
    </div>
  </footer>
</footer>
