<header class="row">
  
  <form id="search" action="" method="get" accept-charset="utf-8">
    <input type="text" name="search" placeholder="Busca...">
    <input type="submit" id="magnifier" value="">
  </form>

  <div class="hor-align">
    <a class="a_top" href="/"><h1 id="logo" class="image-replacement"><%= t('views.site_name')%></h1></a>

    <%= render 'site/menu' %>
  </div>

  <div style="clear: both"></div>
</header>
