<nav class="main-menu">
  <ul class="horizontal-menu dropdown">
    <% MenuDecorator.decorate_collection(Menu.main_menu.ascending).each do |menu| %>
      <%= menu.top_level %>
    <% end %>
  </ul>
</nav>
