<section id="notices">
  <div class="row">
    <h1>Notícias em Destaque</h1>
     </div>
  <div class="row">
    <article class="notice">
        <h2 class="notice-title"><%= link_to @notices[0].title, @notices[0] %></h2>
        <p class="author-data">Por <%= @notices[0].user.name %> - <%= @notices[0].created_at %> </p>
        <p><%= raw truncate(strip_tags(@notices[0].body)) %>  <%= link_to "Continue Lendo", @notices[0], :class => 'read-later' %></p>
    </article>

    <article class="notice">
        <h2 class="notice-title"><%= link_to @notices[1].title, @notices[1] %></h2>
        <p class="author-data">Por <%= @notices[1].user.name %> - <%= @notices[1].created_at %> </p>
        <p><%= raw truncate(strip_tags(@notices[1].body)) %>  <%= link_to "Continue Lendo", @notices[1], :class => 'read-later' %></p>
    </article>

    
  </div>

  <div class="row">
    <%= link_to notices_path, class: 'more-notices' do %>
      Mais notícias <span class="fontawesome-arrow-right"></span>
    <% end %>
  </div>

</section>

<%= render 'widgets/widgets' %>
</div>