@import "bourbon";
@import "neat-helpers";

/*$visual-grid: true;*/
$max-width: 1024px;

// Use a 4 column grid in tablet devices
$tablet: new-breakpoint(max-width 848px 6);
$vertical-tablet: new-breakpoint(max-width 694px 6);

// Use a 4 column grid in mobile devices
$mobile: new-breakpoint(max-width 480px 4);

$retina: new-breakpoint(-webkit-min-device-pixel-ratio 2);
