@import 'bourbon';

@mixin dark-border($position) {
  @if $position == 'top' {
    border-top: 3px solid #373737;
  } @else {
    border-bottom: 3px solid #373737;
  }
}

@mixin input-reset {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

@mixin inverted-color {
  @include box-shadow(0 3px 0 #d1473a);
  background-color: #f05648;
  color: #ffffff;
}