<%= simple_form_for [:admin, @user_temp] do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :role, :collection => translated_user_roles, :prompt => t('helpers.prompt.role'), :label => false %>
  <%= f.input :password, :required => true, :error => false %>
  <%= f.input :password_confirmation, :required => true, :error => false %>
  <%= f.submit %>
<% end %>
