<div id="content">
  <h1>Usuários</h1>
  
  <%= link_to t_with_resource('dashboard.actions.create', :user), new_admin_user_path, class: 'btn' %>

  <ul>
    <% @users.each do |u| %>
      <li>
        <%= u.name %> |
        <%= link_to t('dashboard.actions.edit'), edit_admin_user_path(u), id: "edit_user_#{u.id}" %> |
        <%= link_to t('dashboard.actions.destroy'), admin_user_path(u), method: :delete %>
      </li>
    <% end %>
  </ul>
</div>