/* Main */
.area-menu {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.menu {
  width: 100%;
  list-style: none;
  display: inline-table;

  li {
    display: table-cell;
    line-height: 35px;
    padding-right: 15px;
    position: relative;

    a {
      display: block;
      padding-left: 5px;
      color: white;
      text-shadow:  
            0px 1px 1px rgba(0, 0, 0, 1);
      font-weight: bold;

      .pull-right {
        position: absolute;
        right: 20px;
      }
    }
  }
}

.menu_body {
  display:none;
}