@import 'bourbon';
@import 'neat_configs';
@import 'neat';

#banner {
  @include box-shadow(inset 0px 1px 2px #111111);
  @include box-sizing(border-box);
  background: url(image_path('banner.jpg')) center no-repeat;
  height: 200px;
  border-bottom: 1px solid#505050;
  margin-top: 40px;
  padding-top: 46px;

  .content { @include span-columns(9); }
}
