@import 'mixins';
@import 'bourbon';
@import 'neat-helpers';
@import 'neat';

.document-tags {
  @include span-columns(3);

  text-align: center;

  li {
    list-style: none !important;
    padding: 0px;
    text-indent: 0 !important;
  }

  h3 {
    background: #E45E5E;
    text-shadow: 1px 1px #000;
    color: white;
    padding: 10px;
  }

  a {
    display: block;
    color: black;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid #E45E5E;

    &.current {
      border-bottom: 2px solid fade-out(#E45E5E, 0.55);
    }
  }

  padding-bottom: 20px;
}

.documents {
  @include outer-container;
  @include span-columns(9);

  display: inline-table;
  text-align: center;

  .document {
    @include span-columns(6);
    display: table-cell;
    padding-bottom: 1em;
    min-height: 150px;
  }

  .document:nth-child(2n)
  {
    @include omega();
  }

  .info {
    height: 150px;
    background: #F1F1F1;
    
    h3 {
      font-size: 20px;
      border-bottom: 2px solid #E45E5E;
    }

    p {
      text-align: left;
      padding: 5px;
    }
  }

  .download {
    background: #E45E5E;
    clear: both;
    a {
      color: white;
      font-weight: 600;
      display: block;
    }
  }
}