#external-links {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  height: 242px;
}

#external-links h1 {
  margin-bottom: 10px;
}

#external-links a {
  text-decoration: none;
  color: #333333;

  &:hover {
    text-decoration: underline;
  }
}
