@import 'neat_configs';
@import 'bourbon';
@import 'mixins';
@import 'neat';

footer {
  @include box-shadow(inset 0 1px 0 #444444);
  background: #333333;
  border-top: 1px solid #222222;
  padding: 30px 0 0;

  nav {
    @include span-columns(7); margin-right: 0;
  }

  ul { @include span-columns(3); }
  .pb-logo { @include span-columns(2); }
}

footer li a {
  color: #95c8ea;

  &:hover {
    text-decoration: underline;
  }
}

footer p {
  color: #cccccc;
}

footer p a {
  color: #cccccc;

  &:hover {
    text-decoration: underline;
  }
}

footer footer {
  @include box-shadow( 0 -1px 0 #444444);
  background: #222222;
  padding: 8px 0;
  border-top: 1px solid #000;
  margin-top: 30px;

  .address { @include span-columns(8); }
  .phone { @include span-columns(4); }
}

footer footer p {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.4);
}

footer footer p:last-child {
  text-align: right;
}

