#gallery {
  margin: auto;
  width: 1000;
  margin-bottom: 20px;
  margin-top: 20px;
  background: fade-out(#ccc, 0.05);
  padding: 1.5em;
}

.ad-image-wrapper {
  margin-left: -27px;
}

.ad-slideshow-start {
  margin-right: 10px;
}