@import 'bourbon';
@import 'neat-helpers';
@import 'neat';

header {
  position: relative;

  .hor-align {
    width:100%;
    display: block;
    height: 55px;

    .a_top {
      position: absolute;
      left: 0;
      margin-top: 40px;
    }

    nav {
      position: absolute;
      right: 0;
    }

    margin-bottom: 40px;
  }

}