#links-extras {
  margin-bottom: 40px;

  #carousel--container {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;

    margin-top: 20px;

    .carousel {
      display: inline-block;

      > a {
        float: left;
        display: block;
      }
    }

    #carousel_prev {
      position: absolute;
      left: 0;
      top: 30px;
      display: block;
      width: 10px;
      color: #333;

      a:visited {
        color: #333;
      }
    }

    #carousel_next {
      position: absolute;
      right: 0;
      top: 30px;
      display: block;
      width: 10px;
      color: #333;

      a:visited {
        color: #333;
      }
    }
  }
}

#links-extras h1 {
  margin-top: 15px;
}

#links-extras img, #links-extras h2 {
  margin: 10px 10px 0 0;
  line-height: 60px;
  vertical-align: middle;
}

#links-extras h2 {
  font-size: 20px;
  border: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}
