@import 'neat_configs';
@import 'bourbon';
@import 'mixins';
@import 'neat';

#notices {
  margin-top: 40px;
  margin-bottom: 50px;

  .relevant { @include span-columns(6); }
}

#notices .content-notice {
  padding-left: 25px;
}

#notices > div > h1 {
  margin-bottom: 30px;
}

#notices img {
  float: left;
  border: 1px solid rgba(0,0,0, 0.5);
  border-radius: 4px;
}

.notice {
  @include span-columns(4);

  img { margin-right: 20px; }
}

.notice-title {
  border-left: 3px solid #f05648;
  padding: 2px 0 2px 10px;
  margin-bottom: 15px;
}

.notice-title a {
  color: #f05648;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#notices .more-notices {
  float: right;
  color: #f05648;
  font-weight: bold;

  span {
    font-weight: normal;
  }
}
