@import 'bourbon';
@import 'mixins';

::-webkit-input-placeholder {
  color: #eee;
}

#search {
  position: absolute;
  top: -25px;
  right: 15px;
  background-color: #d14e42;
}

#search input[type="text"] {
  @include input-reset;
  @include box-shadow(1px 0px 0px #c74a3f);
  @include transition(width 300ms ease-in-out);
  background-color: #f05648;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 12px;
  width: 85px;
  float: left;
  border-right: 1px solid #f76153;

  &:focus {
    width: 180px;
  }
}

#search input[type="submit"] {
  @include input-reset;
  background: url(image_path('magnifier.png')) center center no-repeat;
  cursor: pointer;
  width: 42px;
  height: 40px;
  float: right;
}
