#social {
  text-align: right;
}

#social a {
  color: #ffffff;
  font-size: 20px;
  padding-left: 28px;
  margin-left: 15px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #222222;
  opacity: .6;

  &:hover {
    opacity: 1;
  }
}

.facebook {
  background: url(image_path('facebook.png')) left 2px no-repeat;
}

.twitter {
  background: url(image_path('twitter.png')) left center no-repeat;
}
