<%= simple_form_for [:admin, @menu] do |f| %>
  <%= f.input :name %>
  <%= f.input :external_link %>
  <%= f.association :parent, :collection => @menu.possible_parents, :prompt => t(:parent, :scope => 'views.select_prompt'), label_method: :full_name %>
  <%= f.submit %>
<% end %>
