<h1>Menus</h1>
<%= link_to t_with_resource('dashboard.actions.create', :menu), new_admin_menu_path, class: 'btn' %>

<ul>
  <% @menus.each do |menu| %>
    <% if can? :edit, menu %>
      <li>
        <%= menu.full_name %> |
        <%= link_to t('dashboard.actions.edit'), edit_admin_menu_path(menu) %>
        <% if can? :delete, menu %>
          |  <%= link_to t('dashboard.actions.destroy'), admin_menu_path(menu), :method => :delete %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
