<section id="banner">
  <div class="row">
  <!--<nav class="two and-half columns">
    <ul id="external-links">
      <li><h1>Links Úteis</h1></li>
      <li><%= link_to "Webmail", '#' %></li>
      <li><%= link_to "Cinema", '#' %></li>
      <li><%= link_to "Seminário", '#' %></li>
      <li><%= link_to "Portal de Revistas", '#' %></li>
      <li><%= link_to "SRGCCSA", '#' %></li>
      <li><%= link_to "Portal CAPES", '#' %></li>
     </ul>
   </nav>-->
  </div>
</section>
