<%= simple_form_for [:admin, @notice] do |f| %>
  <%=  f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body, input_html: {class: 'ckeditor'} %>
    <%= f.input :category, collection: Notice::POSSIBLE_CATEGORIES %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
