<h1><%= t('titles.dashboard.edit', resource: t('activerecord.models.notice')) %></h1>

<%= render 'form' %>

<%= link_to t('dashboard.actions.show'), @notice %> |
<%= link_to t('dashboard.actions.back'), admin_notices_path %>
