<h1>Notícias</h1>
<%= link_to t_with_resource('dashboard.actions.new', :notice), new_admin_notice_path, class: 'btn' %>


<ul>
  <% @notices.each do |notice| %>
    <% if can? :edit, notice %>
      <li>
        <%= notice.title %> |
        <%= notice.user.name %> |
        <%= link_to t('dashboard.actions.edit'), edit_admin_notice_path(notice) %>
        <% if can? :delete, notice %>
          | <%= link_to t('dashboard.actions.destroy'), admin_notice_path(notice), method: :delete, data: { confirm: t('views.confirm') } %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<br />

