<p id="notice"><%= notice %></p>

<p>
  <b><%= t :title %>:</b>
  <%= @notice.title %>
</p>

<p>
  <b><%= t :body %>:</b>
  <%= @notice.body %>
</p>

<p>
  <b><%= t :author %>:</b>
  <%= @notice.user.name%>
</p>


<%= link_to (t 'dashboard.actions.edit'), edit_admin_notice_path(@notice) %> |
<%= link_to (t 'dashboard.actions.back'), admin_notices_path %>
