@import 'neat_configs';
@import 'bourbon';
@import 'mixins';
@import 'neat';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes:
  none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing:
  0;
  border-collapse:
  collapse;
}

* {
  @include box-sizing(border-box);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

textarea:-moz-focus-inner {
  padding-bottom: 5px;
}

.row {
  @include outer-container;
  min-width: 1024px !important;
  padding: 0 24px;
}
