@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  font: normal 18px/27px 'PT Sans Narrow', sans-serif;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  color: #f05648;
}

h2 {
  font-size: 17px;
  font-weight: bold;
  color: #f05648;
}

p {
  font-size: 17px;
  color: #666666;
}

a {
  font-size: 17px;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

ol {
  color: #666666; 
}