<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Dashboard Portal CCSA | <%= page_title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag 'dashboard', :media => 'all' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= flash_messages %>

    <%= render 'admin/dashboard/topmenu' %>

      <section class="menu">
        <%= render 'admin/dashboard/menu' %>
      </section>

      <section id="content">
        <%= yield %>
      </section>
    <%= javascript_include_tag 'dashboard' %>
  </body>
</html>
