<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Portal CCSA | <%= page_title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=3000px">
    <%= stylesheet_link_tag 'site', :media => 'all' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= flash_messages %>
    <%= render 'shared/topbar' %>
    <%= render 'site/header' %>
    <%= render 'notices/banner' %>
    <%= yield %>
    <%= render 'site/carousel' %>
    <%= render 'site/footer' %>
    <%= javascript_include_tag 'site' %>
  </body>
</html>
