<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for resource, :as => resource_name, :url => user_registration_path, :method => :put do |f| %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :required => true %>

  <%= f.button :submit, t('helpers.submit.user.update_profile') %>
<% end %>

<%= link_to t('views.actions.back'), :back %>
